:root {
  --white: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  --font: "Outfit", sans-serif;
}


/* reseting css defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--Light-gray);
}

img {
  width: 300px;
  height: 300px;
  border-radius: 25px;
  padding: 15px 10px;
}

.main-container {
  background-color: white;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  background-color: var(--Light-gray);
  align-items: center;
  flex-wrap: wrap;
}

.sub-container {
  background-color: white;
  border-radius: 10px;
  margin: 100px 0px;
  box-shadow: 0 3px 5px rgba(4, 27, 241, 0.6);
  padding: 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 1rem;

}

h2 {
  font-family: 'Outfit', 'sans-serif';
  font-size: 1.14rem;
  color: var(--Dark-blue);
  text-align: center;
  line-height: 1.3;
}

.main-container p {
  color: var(--Grayish-blue);
  font-size: smaller;
  padding: 20px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 50px;

}

.attribution {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.sr-only {
  position: absolute ;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: row;
    text-align: center;
    padding-top: 20px;
  }

  .sub-container {
    display: block;
    text-align: center;
  }
}
